
body {
	background: #EEE;
}

.words {
	display: table;
	font-size: 0;
	vertical-align: middle;
    	margin: auto;
    	padding: 10;
	font-family: courier;
	opacity:0.8;
	position:absolute;
	top:100px;
	left:10px;
	right:10px;
}

.wordsCanvas {
	background: #FFF;
	vertical-align: middle;
    	margin: auto;
    	padding: 10;
	font-family: courier;
	opacity:1;
	position:absolute;
	top:80px;
	left:10px;
	right:10px;
	border:0px none #FFF;
}

ul {
    	float:left;
    	clear:right;
    	padding:5px;
	vertical-align: middle;
    transform-origin: 50% 100%;
    animation-duration: .3s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

li {
    	float:left;
    	clear:left;
	display:table-cell;
	vertical-align: middle;
    transform-origin: 50% 100%;
    animation-duration: .3s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

.info {
	font-size: 30;
	color: #FFF;
	background: #000;
}

.hint {
	background: #FFF;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden;
    	float:left;
	position:relative;
	width:30%;
	height:30%;
	top:0px;
	left:0px;
	opacity: .98; 
  	z-index: 0;
}

.btBar {
	position:absolute;
	top:5px;
	left:20px;
	font-size: 30;
}

.playpause {
	position:absolute;
	top:12px;
	left:5px;
	background: #000;
	height:50px;
	width:50px;
}
.bt {
	position:absolute;
	top:0px;
	left:0px;
	background: #000;
	height:50px;
	width:50px;
}


.yearTo {
	position:absolute;
	top:17px;
	left:100px;
	background: #FFF;
	height:40px;
	width:90px;
	font-size: 15;
}

.lab {
	position:absolute;
	top:17px;
	left:220px;
	background: #FFF;
	height:40px;
	width:90px;
	font-size: 15;
}

.info {
	position:absolute;
	top:5px;
	left:10px;
	right:10px;
	background: #000;
	height:75px;
	font-size: 30;
}

.lbGroup {
	position:absolute;
	top:5px;
	left:310px;
	right:10px;
	font-size: 30;
}

.lbYear {
	position:absolute;
	top:40px;
	left:310px;
	right:10px;
	font-size: 30;
}


@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}



